:root {
	--topbar-background-color: hsl(261, 5%, 15%);
	--sidebar-background-color: hsl(261, 5%, 20%);
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	outline: none;
	background-color: #000000;
}

.inter-font {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-optical-sizing: auto;
}

.editor-container {
	display: grid;
	grid-template-areas: "top top top" "left middle right";
	grid-template-rows: 48px 1fr;
	grid-template-columns: 300px 1fr 300px;
	width: 100%;
	height: 100%;
	background-color: #202020;
}

.top-container {
	grid-area: top;
	background-color: var(--topbar-background-color);
}

.left-container {
	grid-area: left;
	background-color: var(--sidebar-background-color);
}

.middle-container {
	grid-area: middle;
	overflow: hidden;
}

.right-container {
	display: flex;
	grid-area: right;
	align-items: start;
	justify-content: center;
	background-color: var(--sidebar-background-color);
}

.properties-title {
	width: 100%;
	margin: 10px 0;
	font-size: 24px;
	font-weight: 700;
	color: hsl(208, 21%, 88%);
	text-align: center;
}
